:root {
  font-size: 1rem;
  padding: 0;
  max-height: 100%;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-color: rgb(14, 14, 14);
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}

.left-side {
  background-image: url("./img/dario-jud-4EvreRzmq44-unsplash.jpg");
  background-size: cover;
  height: 100%;
  width: 40%;
  position: relative;
}

.logo {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  background-color: rgb(23, 26, 23);
  opacity: 10%;
}

.credit {
  width: 100%;
  position: absolute;
  color: white;
  bottom: 1%;
  font-size: small;
  text-align: center;
  opacity: 50%;
}
.right-side {
  background-color: rgb(241, 241, 241);
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  border-bottom: 1px outset #ffffff;
}

.form {
  height: 60%;
}

.info {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

label,
input {
  display: block;
}

label {
  padding-bottom: 5px;
}

input {
  border: 1px solid #dddbdb;
  border-radius: 8px;
  height: 55%;
}

input:focus {
  outline: none;
  outline: 1px solid rgb(27, 27, 107);
  box-shadow: 2px 2px 2px rgb(122, 114, 114);
}

input:invalid {
  outline: 1px solid red;
  box-shadow: 2px 2px 2px rgb(122, 114, 114);
}

.form-row {
  height: 50px;
  display: flex;
  gap: 40px;
  padding-left: 15px;
  padding-bottom: 25px;
  font-size: 0.8rem;
  font-weight: 520;
}

button {
  background-color: #465836;
  border: none;
  border-radius: 8px;
  text-align: center;
  margin-top: 25px;
  margin-left: 15px;
  height: 3rem;
  width: 190px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  padding-left: 15px;
  font: bold;
}

.form p {
  font-size: 1rem;
}
